Options -Indexes
RewriteEngine On

# Redirigir URLs viejas de Jimdo a la web nueva
RedirectMatch 301 ^/cont%C3%A1ctenos/?$ https://www.dulikosrl.com/
RedirectMatch 301 ^/contactenos/?$ https://www.dulikosrl.com/
RedirectMatch 301 ^/sitemap/?$ https://www.dulikosrl.com/sitemap.xml
RedirectMatch 301 ^/sobre-nosotros/?$ https://www.dulikosrl.com/
RedirectMatch 301 ^/productos/?$ https://www.dulikosrl.com/productos.html
RedirectMatch 301 ^/inicio/?$ https://www.dulikosrl.com/
